DATABASE_URL="mysql://USER:PASSWORD@IP_ADDRESS:3306/DB_NAME"
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=bronebox
JWT_SECRET=your_jwt_secret
IP_ADDRESS=127.0.0.1
PORT=3000
DOMEN=http://127.0.0.1:5500
APP_URL=https://api.yourdomain.ru
FRONTEND_URL=https://yourdomain.ru
